{% extends 'chat/components/chat_layout.html.twig' %}

{% block title %}Uni Chat | Rooms{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">My rooms</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message|trans() }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if user.rooms %}
            {% for room in user.rooms %}
                <div class="row border border-primary p-2 mb-4">
                    <div class="col-3">
                        <div class="d-flex flex-row align-items-center">
                            <a class="color-primary" href="{{ path('chat_room', {'room': room.id}) }}">
                                <h3>{{ room.name }}</h3>
                            </a>
                            {% if user.id == room.owner.id %}
                                {% if room.status %}
                                    <a title="Make private" class="color-success mb-1" href="{{ path('room_status_toggle', {'room': room.id}) }}">
                                        <i class="fas fa-lock-open ml-2"></i>
                                    </a>
                                {% else %}
                                    <a title="Make public" class="color-danger mb-1" href="{{ path('room_status_toggle', {'room': room.id}) }}">
                                        <i class="fas fa-lock ml-2"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if room.status %}
                                    <i title="Public" class="fas fa-lock-open ml-2 mb-1 color-success"></i>
                                {% else %}
                                    <i title="Private" class="fas fa-lock ml-2 mb-1 color-danger"></i>
                                {% endif %}
                            {% endif %}
                        </div>
                        <p class="h6">Room owner: <strong class="color-primary">{{ room.owner.username }}</strong></p>
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <p>Last Message</p>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        {% if user.id == room.owner.id %}
                            <a class="btn btn-danger mr-3"
                               onclick="return confirm('You want to delete the chat, are you sure?')"
                               href="{{ path('delete_room', {'room': room.id}) }}">Delete Room</a>
                        {% endif %}
                        <a class="btn btn-warning mr-3"
                           onclick="return confirm('You want to leave the chat, are you sure?')"
                           href="{{ path('leave_chat_room', {'room': room.id}) }}">
                            Leave Room
                        </a>
                        <a class="btn btn-success" href="{{ path('chat_room', {'room': room.id}) }}">Enter</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>No rooms yet :(</h2>
        {% endif %}
    </div>
{% endblock %}