{% extends 'chat/components/chat_layout.html.twig' %}

{% block title %}Uni Chat | {{ room.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between mb-4">
            <div>
                <h2 class="mb-0">Room: <strong class="color-primary">{{ room.name }}</strong></h2>
                <p id="room-user" class="mb-0" data-user="{{ user.id }}">Room owner: <strong class="color-primary">{{ room.owner.username }}</strong></p>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roomSettings">
                <i class="fas fa-users-cog font-35 no-decoration"></i>
            </button>
        </div>

        <div id="chat-template-owner" class="media media-chat media-chat-reverse d-none">
            <div class="media-body">
                <p></p>
                <p class="meta color-gray"><time datetime=""></time></p>
            </div>
        </div>
        <div id="chat-template-message" class="media media-chat d-none">
            <div class="media-body">
                <p class="meta color-primary"></p>
                <p></p>
                <p class="meta"><time datetime=""></time></p>
            </div>
        </div>

        <div class="page-content page-container" id="page-content">
                <div class="row d-flex justify-content-center">
                    <div class="card card-bordered w-100">
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:450px !important;">
                            {% for message in room.messages %}
                                {% if message.user.id == user.id %}
                                    <div class="media media-chat media-chat-reverse">
                                        <div class="media-body">
                                            <p>{{ message.content }}</p>
                                            <p class="meta color-gray"><time datetime="{{ message.time|date("Y") }}">{{ message.time|date("H:i") }}</time></p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="media media-chat">
                                        <div class="media-body">
                                            <p class="meta color-primary">{{ message.user.username }}</p>
                                            <p>{{ message.content }}</p>
                                            <p class="meta"><time datetime="{{ message.time|date("Y") }}">{{ message.time|date("H:i") }}</time></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                        </div>
                        <div class="publisher bt-1 border-light">
                            <form id="send-message" class="w-100 d-flex justify-content-between">
                                <input id="user-message" name="message" class="publisher-input" type="text" placeholder="Write something...">
                                <input id="user-room" name="room" class="d-none" type="text" value="{{ room.id }}">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    {% include 'chat/components/room_settings.html.twig' %}

{% endblock %}